@import '../../style/variables';

.wrapper {
  margin-bottom: 30px;

  &_label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5px;
    padding: 5px 20px;

    background-color: white;
    border: 2px solid $border-default;

    transition: border ease-in-out 0.2s;
  }

  &_label:focus {
    border: 2px solid $border-focus;
  }

  &_label:hover {
    border: 2px solid $border-hover;
  }

  &_label:active {
    border: 2px solid $border-active;
  }

  &_input {
    outline: none;
    width: 100%;
    height: 100%;
    padding: 10px 20px;

    font-size: 1.8rem;
    color: black;

    border: none;
  }

  &_placeholder {
    position: absolute;
    top: 30%;
  left: 57px;
  z-index: 10;
  font-size: 1.7rem;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  color: #ff47da;
  }

  &_input::placeholder {
    font-size: 1.4rem;
  }

  &_placeholder_line {
    z-index: -1;
    position: absolute;
    top: 30%;
  left: 53px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    width: 60px;
    height: 5px;
    background-color: white;
  }

  &_input:focus {
    outline: none;
  }

  &_label &_input:focus + &_placeholder {
    font-size: 1.7rem;
    transform: scale(0.8) translateY(-28px);
  }

  &_label &_input:focus ~ &_placeholder_line {
    z-index: 9;
    transform: scale(0.8) translateY(-23px);
  }

  &_placeholder_password {
    width: 100px;
  }


  &_clue {
    font-size: 1.2rem;
    color: $font-green;
    visibility: hidden;
  }

  &_img_icon {
    width: 20px;
    height: 100%;
  }
}

.password {
  &_eye {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &_clue {
    padding: 5px 0 5px 20px;

  visibility: visible;
  background-repeat: no-repeat;
  background-position: top 3px left 2px;
  background-size: 15px 15px;
  }
}

.shown {
  display: block;
}

.unshown {
  display: none;
}

.tooltip_error {
  margin-right: 10px;
}

.tooltip_text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.error {
  margin: 0;
  padding: 0;
  color: red;
  background-image: none;
}