@use '../../style/mixins.scss' as *;

@import '../../style/variables';

@import 'https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap';

.main {
  @include page-layout-container;
  background-image: linear-gradient(to right, rgba(3, 14, 27, 0.9) 0 100%),
    url('../../../public/assets/backgrounds/city-neon-cyberpunk_01.png');
  background-repeat: no-repeat;
  background-size: cover;

  &_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    flex: 0 1 auto;

    margin-bottom: 20px;

    font-family: Cyberpank, cursive;
    font-size: 4rem;
    color: $font-color-title;
    text-shadow: 3px 3px $background-color-primary-three;
  }

  &_profile_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.28;
    width: 40%;
    max-width: 600px;

    background-image: url('../../../public/ui-kit/main_profile_buttons.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_menu_link {
    width: 40%;

    font-family: 'No Signal', cursive;
    font-size: 2rem;
    text-align: center;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green;

    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      text-shadow:
        0 0 5px $glow-green,
        0 0 10px $glow-green,
        0 0 20px $glow-green,
        0 0 10px $glow-green,
        0 0 15px $glow-green,
        0 0 25px $glow-green;
    }
  }

  &_customize {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  &_advertisment {
    display: flex;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.36;
    width: 100%;
    min-height: 80px;

    -webkit-text-stroke: 1px;
    border: 1px dotted $glow-violet;
    box-shadow: 0 0 15px $glow-violet;
    border-radius: 20px;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        $red-scanline 4px,
        $red-scanline 8px,
        $red-scanline 10px,
        transparent 0.5%
      ),
      repeating-linear-gradient(to left, $black-scanline, $black-scanline 50%);

    &.customize {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &_glitch_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &_advertisment_glitch {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow:
      0.05em 0 0 #00fffc,
      -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch_anim 725ms infinite;
    margin-bottom: 30px;
  }

  &_advertisment_title {
    font-size: 6.2rem;
    font-family: 'No Signal', cursive;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &_advertisment_title:first-child {
    animation: glitch_anim 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }

  &_advertisment_title:last-child {
    animation: glitch_anim 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.1em, 0.03em);
    opacity: 0.65;
  }

  @keyframes glitch_anim {
    0% {
      text-shadow:
        0.05em 0 0 #00fffc,
        -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
      text-shadow:
        0.05em 0 0 #00fffc,
        -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
      text-shadow:
        -0.05em -0.025em 0 #00fffc,
        0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
      text-shadow:
        -0.05em -0.025em 0 #00fffc,
        0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
      text-shadow:
        0.05em 0.035em 0 #00fffc,
        0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    99% {
      text-shadow:
        0.05em 0.035em 0 #00fffc,
        0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    100% {
      text-shadow:
        -0.05em 0 0 #00fffc,
        -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
  }

  &_advertisment_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_advertisment_text {
    font-family: Assassin;
    font-size: 3.6rem;
    text-align: center;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_offers_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &_offers_wrapper {
    overflow: hidden;

    aspect-ratio: 1 / 0.6;
    width: 90vw;
    min-height: 80px;
    margin-top: 20px;
  }

  &_offers {
    display: flex;
    flex-direction: row;

    aspect-ratio: 1 / 0.1;
    width: 600%;
    min-height: 80px;
  }

  &_offer {
    contain: content;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    padding-left: 2vw;
    aspect-ratio: 1 / 0.6;

    text-align: center;

    // background-image: url('../../../public/assets/backgrounds/offer_red_sales.png');
    background-repeat: no-repeat;
    background-size: contain;

    &:nth-child(1) {
      background-image: url('../../../public/assets/backgrounds/offer_red_sales_01.png');
    }

    &:nth-child(2) {
      background-image: url('../../../public/assets/backgrounds/offer_red_sales_01.png');
    }

    &:nth-child(3) {
      background-image: url('../../../public/assets/backgrounds/cyberpunk-style-modern-girl-batman_01.png');
    }

    &:nth-child(4) {
      background-image: url('../../../public/assets/backgrounds/white_02_01.png');
    }

    &:nth-child(5) {
      background-image: url('../../../public/assets/backgrounds/black_03_01.png');
    }

    &:nth-child(6) {
      background-image: url('../../../public/assets/backgrounds/offer_red_sales_01.png');
    }
  }

  &_offer_text {
    font-family: Assassin;
    width: 30%;
    aspect-ratio: 1 / 1.4;
    background-image: url('../../../public/ui-kit/offer_01.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 4vw;
    padding-right: 3vw;
    padding-top: 5%;
    font-size: 3.6rem;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green,
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green,
      0 0 20px rgb(229, 255, 58),
      0 0 30px rgb(229, 255, 58);
  }

  &_offers_arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    height: 2vw;
  }

  &_offers_arrow {
    aspect-ratio: 1 / 0.5;
    width: 6vw;
    max-width: 50px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;

    transition: all 0.2s ease-in-out;

    &.left {
      transform: translate(-1.5vw, 0%);
      background-image: url('../../../public/ui-kit/offers_01_green_left.svg');

      &:hover {
        cursor: pointer;
        background-image: url('../../../public/ui-kit/offers_01_left.svg');
      }
    }

    &.right {
      transform: translate(1.5vw, 0%);
      background-image: url('../../../public/ui-kit/offers_01_green_right.svg');

      &:hover {
        cursor: pointer;
        background-image: url('../../../public/ui-kit/offers_01_right.svg');
      }
    }
  }

  &_sloth_right {
    resize: both;

    aspect-ratio: 1 / 1;
    width: 35%;

    background-image: url('../../../public/assets/cybersloths/cybersloth_06.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.75;
  }

  &_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    margin-bottom: 50px;
  }

  &_slide {
    resize: both;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 24%;
    min-width: 60px;
    max-width: 400px;

    font-size: 2rem;
    color: $font-color-primary-one;
    text-align: center;

    background-image: url('../../../public/ui-kit/square_02_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    -webkit-text-stroke: 1px;
  }

  &_slide_pic {
    aspect-ratio: 1 / 1.1;
    width: 70%;
    margin-top: 10%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    filter: drop-shadow(0 0 5px $glow-green);
  }

  // &_arrow {
  //   position: absolute;

  //   display: inline-block;

  //   aspect-ratio: 1 / 1;
  //   width: 4vw;
  //   max-width: 50px;

  //   visibility: hidden;
  //   background-repeat: no-repeat;
  //   background-size: contain;

  //   transition: all 0.2s ease-in-out;

  //   &.left {
  //     transform: translate(-1.5vw, 0);
  //     background-image: url('../../../public/assets/icons/arrow_left.svg');

  //     &:hover {
  //       cursor: pointer;
  //       background-image: url('../../../public/assets/icons/arrow_left_hover.svg');
  //     }
  //   }

  //   &.right {
  //     transform: translate(90vw, 0);
  //     background-image: url('../../../public/assets/icons/arrow_right.svg');

  //     &:hover {
  //       cursor: pointer;
  //       background-image: url('../../../public/assets/icons/arrow_right_hover.svg');
  //     }
  //   }
  // }
}

.main_discounts_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main_rsschool {
  width: 30vw;
  aspect-ratio: 1 / 0.3;
  background-image: url('../../../public/ui-kit/main_discount_02.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'No Signal', cursive;
  font-size: 2.8rem;
  text-shadow:
    0 0 5px $glow-violet,
    0 0 10px $glow-violet;
  border: none;
  background-color: transparent;
  outline: none;
  color: $font-color-primary-one;
  transition: all 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
  }
}

.main_trinity {
  width: 30vw;
  aspect-ratio: 1 / 0.3;
  background-image: url('../../../public/ui-kit/main_discount_02.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'No Signal', cursive;
  font-size: 2.8rem;
  text-shadow:
    0 0 5px $glow-violet,
    0 0 10px $glow-violet;
  border: none;
  background-color: transparent;
  outline: none;
  color: $font-color-primary-one;
  transition: all 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
  }
}

.modal {
  &_wrapper {
    position: absolute;
    display: none;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    transition: all 0.4s ease-in-out;

    &.show {
      display: block;
    }
  }

  &_body {
    width: 100%;
    aspect-ratio: 1 / 0.5;
    background-image: url('../../../public/ui-kit/discount_copied_01.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.overlay {
  display: none;
  position: fixed;
  background: $overlay-gradient;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 1800;
  transition: all 0.4s ease-in-out;

  &.show {
    display: block;
  }
}

@media screen and (min-width: (768px)) and (max-width: (1399.98px)) {
  .main {
    font-size: 8px;

    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_advertisment_text {
      font-size: 2.8rem;
    }

    &_title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: (1000px)) and (max-width: (1399.98px)) {
  .main {
    font-size: 8px;

    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_offer_text {
      padding-bottom: 20px;
      font-size: 3rem;
    }

    &_advertisment_text {
      font-size: 2.8rem;
    }

    &_title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: (768px)) and (max-width: (999.98px)) {
  .main {
    font-size: 8px;

    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_offer_text {
      padding-bottom: 20px;
      font-size: 2.4rem;
    }

    &_advertisment_text {
      font-size: 2.8rem;
    }

    &_title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: (320px)) and (max-width: (767.98px)) {
  .main {
    font-size: 6px;

    &_title {
      font-size: 3.5rem;
      text-align: center;
    }

    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_top {
      flex-direction: column;
    }

    &_profile_buttons {
      width: 80%;
    }
  }
}

@media screen and (min-width: (500px)) and (max-width: (767.98px)) {
  .main_offer_text {
    padding-bottom: 20px;
    font-size: 2.1rem;
  }

  .main_advertisment_text {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: (320px)) and (max-width: (499.98px)) {
  .main_offer_text {
    padding-bottom: 20px;
    font-size: 1.3rem;
  }

  .main_advertisment_text {
    font-size: 1.3rem;
  }

  .main_advertisment_glitch {
    font-size: 4rem;
  }
}
