$font-title-color: #e6ff2d;

.products {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;

  &_title {
    font-size: 2rem;
    color: $font-title-color;
  }

  &_body {
    display: flex;
    flex-flow: column wrap;
  }

  &_card {
    aspect-ratio: 1 / 1;
    width: 20%;
    min-width: 100px;
    max-width: 400px;
  }
}
