@import '../../style/variables';

.card {
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    aspect-ratio: 1 / 1;
    width: 100%;
    padding-bottom: 5%;

    background-image: url('../../../public/ui-kit/product_blue.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &_pic {
    aspect-ratio: 1 / 1;
    width: 60%;
    margin-top: 5%;

    background-repeat: no-repeat;
    background-position: center center;
  }

  &_name {
      padding-right: 5%;
      padding-left: 5%;

    font-size: 1.6rem;
    color: $font-color-primary-one;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
  }

  &_buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
  }

  &_price {
    font-size: 1.5rem;
  }

  &_discount {
    font-size: 2rem;
    font-weight: 700;
    color: $discount;
  }
}
