@import '../../style/variables';

.category {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;

  background-color: $background-color-primary-one;

  &_wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }

  &_filters_cards_wrapper {
    display: flex;
    flex-direction: row;
  }

  &_title {
    font-family: 'No Signal', cursive;
    font-size: 50px;
    color: $font-color-title;
  }

  &_filters {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }

  &_categories {
    margin-bottom: 20px;
  }

  &_filters_color {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    aspect-ratio: 1 / 0.2;
    width: 12vw;
    margin-bottom: 20px;
  }

  &_filters_red {
    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 3vw;

    background-color: red;
    border: 1px solid $glow-green;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &_filters_black {
    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 3vw;

    background-color: black;
    border: 1px solid $glow-green;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &_filters_white {
    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 3vw;

    background-color: white;
    border: 1px solid $glow-green;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &_filters_discount {
    font-size: 1.5rem;
  }

  &_button {
    aspect-ratio: 1 / 0.2;
    width: 20%;
    min-width: 100px;
    max-width: 200px;

    font-size: 1.5rem;

    background-color: $background-color-primary-five;
  }

  &_pagination_customize {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  &_pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &_cards_wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    row-gap: 50px;

    // justify-content: space-between;

    width: 100%;
  }

  &_card {
    width: 25%;
  }

  &_pagination_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 15vw;
    margin-top: 50px;
  }

  &_pagination_button {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 25%;

    font-size: 2.5rem;
    color: $font-color-primary-one;

    background-color: transparent;
    border: 2px solid $glow-green;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &.previous {
      transform: rotate(180deg);

      background-image: url('../../../public/ui-kit/arrow_01_purple_blue.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% 80%;
    }

    &.next {
      background-image: url('../../../public/ui-kit/arrow_01_purple_blue.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% 80%;
    }
  }

  &_pagination_number {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 25%;

    font-size: 2.5rem;
    color: $font-color-primary-one;

    background-color: transparent;
    border: 2px solid $glow-green;
    border-radius: 50%;
  }

  &_filters_sizes {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1vw;

    width: 100%;
    margin-bottom: 20px;

    font-size: 2rem;
  }

  &_filters_category {
    font-size: 2rem;
  }

  &_filters_bestseller {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  &_filters_sales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.4;
    width: 100%;

    background-image: url('../../../public/ui-kit/sales_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_sale {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  &_filters_sale_red {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  &_filters_sale_winter {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  &_filter_button {
    display: block;
    aspect-ratio: 1 / 0.4;
    width: 10vw;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &_search_input {
    resize: both;

    aspect-ratio: 1 / 0.36;
    width: 20vw;
    min-width: 300px;
    padding-left: 4vw;

    font-family: Cyberpunk, cursive;
    font-size: 2.5rem;
    color: $glow-green;

    background-color: transparent;
    background-image: url('../../../public/ui-kit/search_purple_blue.svg');
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }

  &_search_input_price {
    resize: both;

    aspect-ratio: 1 / 0.2;
    width: 10vw;

    font-size: 2rem;
    color: $font-color-primary-one;

    background-color: transparent;
    border: 1px solid $glow-green;

    &::placeholder {
      font-size: 2rem;
      color: $font-color-primary-one;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  &_price_range_slider {
    // float: left;
    width: 100%;
    padding: 10px 20px;
  }

  &_range_value {
    margin: 0;
  }

  &_price_input {
    width: 100%;
    margin: 20px 0;

    font-size: 16px;
    font-weight: initial;
    color: $font-color-primary-one;

    background: none;
    border: none;
    box-shadow: none;
  }

  &_range_bar {
    width: 96%;
    height: 3px;
    margin-left: 8px;

    background: $gradient-three;
    border: none;

    &::-webkit-slider-thumb {
      cursor: pointer;

      width: 25px;
      height: 25px;

      appearance: none;
      background: $background-color-primary-five;
    }
  }

  &_filter_size_universal {
    display: none;
  }

  &_brands_wrapper {
    font-size: 2rem;

    &:not(:last-child) {
      margin-top: 20px;
    }

    &:not(:first-child) {
      margin-bottom: 20px;
    }
  }

  &_filters_RSSchool {
    display: inline-block;

    aspect-ratio: 1 / 0.5;
    width: 50%;
    margin-bottom: 5px;

    background-image: url('../../../public/assets/icons/logo-rsschool.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
  }

  &_filters_Logitech {
    display: inline-block;

    aspect-ratio: 1 / 0.5;
    width: 50%;
    margin-bottom: 5px;

    background-image: url('../../../public/assets/icons/logitech_logo_02.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_xs {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_s {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }

  &_filters_m {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_l {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_xl {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_xxl {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_xxxl {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_universal {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;
    padding: 1.2vw;

    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;

    background-image: url('../../../public/ui-kit/circle_05.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_reset_button {
    margin-bottom: 20px;
    font-size: 3rem;
  }
}

// #size:checked ~ .category_filters_size {
//   transform: rotate(135deg);
// }

// input[type="checkbox"] {
//   display: none;
// }

.catalog {
  &_advertisment {
    resize: both;

    display: flex;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.36;
    width: 90%;
    min-height: 80px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 4vw 0;

    background-image: url('../../../public/ui-kit/main_advertisment.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

    -webkit-text-stroke: 1px;

    &.customize {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &_advertisment_text {
    width: 50%;
    font-size: 3.2rem;
    text-align: center;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_sloth_left {
    resize: both;

    transform: scaleX(-1);

    aspect-ratio: 1 / 1;
    width: 20%;

    background-image: url('../../../public/assets/sloth-pics/congrats.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_sloth_right {
    resize: both;

    aspect-ratio: 1 / 1;
    width: 20%;

    background-image: url('../../../public/assets/sloth-pics/good.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

label:hover {
  cursor: pointer;
}

.colour {
  &_input {
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  &_input:checked ~ .category_filters_red {
    box-shadow:
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_input:checked ~ .category_filters_black {
    box-shadow:
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_input:checked ~ .category_filters_white {
    box-shadow:
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }
}

.pricesort_wrapper {
  position: relative;

  display: block;

  aspect-ratio: 1 / 0.4;
  width: 15vw;
  margin-bottom: 30px;
}

.pricesort_switch {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;

  aspect-ratio: 1 / 0.45;
  width: 15vw;
  margin: 0 auto;
  padding-top: 8%;
  padding-right: 1.8vw;
  padding-left: 1.8vw;

  background-image: url('../../../public/ui-kit/price_range_blue_dollar.svg');
  background-repeat: no-repeat;
  background-size: contain;

  transition: left 0.25s ease-in-out;
}

.pricesort_label {
  cursor: pointer;

  position: relative;
  z-index: 200;

  display: block;

  aspect-ratio: 1 / 0.24;
  width: 100%;
  margin: 0 auto;
}

.pricesort_button {
  position: absolute;

  aspect-ratio: 1 / 0.5;
  width: 30%;

  background: rgb(72 232 170 / 50%);
  border: 1px solid $glow-green;
  border-radius: 15%;
  box-shadow: 0 0 5px $glow-green;

  transition: all 0.25s ease-in-out;
}

.pricesort_button_move {
  transform: translateX(7vw);
}

input#price-sort {
  display: none;
}

.namesort_ascdesc_label {
  cursor: pointer;

  position: relative;
  z-index: 200;

  display: block;

  aspect-ratio: 1 / 0.24;
  width: 100%;
  margin: 0 auto;

  font-size: 4rem;
  text-align: center;
}

.namesort_button_move {
  transform: translateX(7vw);
}

.breadcrumbs_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  margin-bottom: 30px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  width: 50vw;

  font-family: Cyberpunk, cursive;
  font-size: 5rem;
  color: $font-color-title;
}

.breadcrumbs_symbol {
  display: inline-block;

  aspect-ratio: 1 / 0.5;
  width: 5vw;

  background-image: url('../../../public/ui-kit/breadcrumbs_arrow_purple_green.svg');
  background-repeat: no-repeat;
}

.category_search_input::placeholder {
  font-family: Cyberpunk, cursive;
  font-size: 2.5rem;
  color: $glow-green;

  opacity: 1;

  animation-name: search-anim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.category_search_input:focus::placeholder {
  color: transparent;
}

.category_search_input:focus {
  color: $glow-green;
  outline: none;
}

@keyframes search-anim {
  0% {
    color: transparent;
    opacity: 0.1;
  }

  50% {
    color: $glow-green;
    opacity: 1;
  }

  100% {
    color: transparent;
    opacity: 0.1;
  }
}

@media screen and (min-width: (320px)) and (max-width: (767.98px)) {
  .category_filters {
    width: 100%;
  }

  .category_filters_sizes {
    justify-content: space-between;
  }

  .category_filters_cards_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .category_pagination {
    width: 100%;
  }

  .category_cards_wrapper {
    width: 100%;
  }

  .category_pagination_buttons {
    width: 50%;
  }

  .pricesort_switch {
    width: 50vw;
    padding-top: 25%;
    padding-left: 6vw;
  }

  .pricesort_button_move {
    transform: translateX(23vw);
  }

  .category_filters_color {
    width: 50vw;
  }

  .category_filters_black {
    width: 10vw;
  }

  .category_filters_red {
    width: 10vw;
  }

  .category_filters_white {
    width: 10vw;
  }

  .category_filters_xs {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_s {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_m {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_l {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_xl {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_xxl {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_xxxl {
    aspect-ratio: 1 / 1;
    width: 10vw;
    font-size: 2rem;
  }

  .category_filters_universal {
    aspect-ratio: 1 / 1;
    width: 10vw;
  }

  .category_search_input {
    width: 40vw;
    min-width: 150px;
    padding-left: 30px;
  }

  .category_search_input_price {
    width: 40vw;
  }

  .breadcrumbs {
    font-size: 4rem;
  }

  .category_pagination_customize {
    width: 100%;
  }
}

@media screen and (min-width: (768px)) and (max-width: (1199.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: (500px)) and (max-width: (767.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: (320px)) and (max-width: (499.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.2rem;
  }
}
