@use '../../style/mixins.scss' as *;

@import '../../style/variables';

input[type='checkbox'] {
  display: none;
}

.category {
  @include page-layout-container;

  &_filters_cards_wrapper {
    display: flex;
    flex-direction: row;
  }

  &_title {
    font-family: 'No Signal', cursive;
    font-size: 50px;
    color: $font-color-title;
  }

  &_filters {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background: $background-gradient-one;
    border-radius: 5px;
  }

  &_categories {
    margin-bottom: 10px;
  }

  &_filters_color {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;

    aspect-ratio: 1 / 0.2;
    width: 80%;
    margin-bottom: 20px;
  }

  &_colour_wrapper {
    width: 4vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/ui-kit/colour_filter_01.svg');
  }

  &_filters_red {
    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 3vw;

    background-color: $filter-red;
    border: 3px solid $background-color-primary-five;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &_filters_black {
    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 3vw;

    background-color: black;
    border: 3px solid $background-color-primary-five;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &_filters_white {
    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 3vw;

    background-color: white;
    border: 3px solid $background-color-primary-five;
    border-radius: 50%;
  }

  &_filters_discount {
    font-size: 1.5rem;
  }

  &_button {
    aspect-ratio: 1 / 0.2;
    width: 20%;
    min-width: 100px;
    max-width: 200px;

    font-size: 1.5rem;

    background-color: $background-color-primary-five;
  }

  &_pagination_customize {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  &_pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: $background-gradient-two;
    border-radius: 5px;
  }

  &_cards_wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    row-gap: 50px;

    // justify-content: space-between;

    width: 100%;
  }

  &_whole_card {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  &_card {
    width: 100%;
    // aspect-ratio: 1 / 0.8;
  }

  &_pagination_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 15vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &_pagination_button {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 25%;

    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow:
        0 0 5px $glow-green,
        0 0 10px $glow-green;
    }

    &.previous {
      background-image: url('../../../public/ui-kit/pagination_arrow_previous_1.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% 80%;
      background-size: contain;
    }

    &.next {
      background-image: url('../../../public/ui-kit/pagination_arrow_next_2.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% 80%;
      background-size: contain;
    }
  }

  &_pagination_number {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 25%;

    font-size: 2.8rem;
    color: $font-color-primary-one;

    background-color: transparent;
    border: 2px solid $glow-green;
    border-radius: 50%;
    user-select: none;
  }

  &_number_circle {
    position: absolute;
    width: 6vw;
    aspect-ratio: 1 / 1;
    background-image: url('../../../public/ui-kit/circle_number_blue_1.svg');
    background-repeat: no-repeat;
    transform: translate(4.5vw, 0);
  }

  &_inner_circle_wrapper {
    position: absolute;
    width: 6vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(4.5vw, 0);
  }

  &_number_inner_circle {
    position: absolute;
    width: 4vw;
    aspect-ratio: 1 / 1;
    background-image: url('../../../public/ui-kit/circle_number_blue_inner.svg');
    background-repeat: no-repeat;

    &.anim {
      animation-name: number_circle_anim;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
  }

  &_filters_sizes {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.5vw;
    row-gap: 0.5vw;

    width: 100%;
    margin-bottom: 20px;

    font-size: 2rem;
  }

  &_filters_category {
    display: inline-block;
    font-size: 1.8rem;
    background-image: url('../../../public/ui-kit/subtree_blue.svg');
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1 / 0.4;
    padding-left: 2vw;
    padding-top: 12px;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px $glow-green;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/subtree_green_blue.svg');
      text-shadow:
        0 0 5px $glow-green,
        0 0 10px $glow-green;
    }
  }

  &_filters_bestseller {
    width: 100%;
    aspect-ratio: 1 / 0.4;
    user-select: none;
  }

  &_bestseller_label {
    display: inline-block;
    font-size: 1.8rem;
    background-image: url('../../../public/ui-kit/bestseller_input_blue_2.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-left: 2vw;
    padding-top: 12px;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px $glow-green;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/bestseller_input_green_blue.svg');
      text-shadow:
        0 0 5px $glow-green,
        0 0 10px $glow-green;
    }
  }

  &_filters_sales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.4;
    width: 100%;

    background-image: url('../../../public/ui-kit/sales_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_sale {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  &_filters_sale_red {
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-shadow:
      0 0 5px,
      0 0 10px $glow-green;
    user-select: none;
    font-family: 'No Signal';
  }

  &_filters_sale_winter {
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-shadow:
      0 0 5px,
      0 0 10px $glow-green;
    user-select: none;
    font-family: 'No Signal';
  }

  &_filter_button {
    display: block;
    aspect-ratio: 1 / 0.4;
    width: 10vw;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &_search_input_price {
    resize: both;

    aspect-ratio: 1 / 0.2;
    width: 10vw;

    font-size: 2rem;
    color: $font-color-primary-one;

    background-color: transparent;
    border: 1px solid $glow-green;
    user-select: none;

    &::placeholder {
      font-size: 2rem;
      color: $font-color-primary-one;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  &_price_range_slider {
    // float: left;
    width: 100%;
    padding: 10px 20px;
  }

  &_range_value {
    margin: 0;
  }

  &_price_input {
    width: 100%;
    margin: 20px 0;

    font-size: 16px;
    font-weight: initial;
    color: $font-color-primary-one;

    background: none;
    border: none;
    box-shadow: none;
  }

  &_range_bar {
    width: 96%;
    height: 3px;
    margin-left: 8px;

    background: $gradient-three;
    border: none;

    &::-webkit-slider-thumb {
      cursor: pointer;

      width: 25px;
      height: 25px;

      appearance: none;
      background: $background-color-primary-five;
    }
  }

  &_filter_size_universal {
    display: none;
  }

  &_filters_brand {
    display: flex;
    flex-direction: row;
  }

  &_brands_wrapper {
    width: 50%;
    aspect-ratio: 1 / 0.5;
    font-size: 2rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_filters_RSSchool {
    display: inline-block;

    aspect-ratio: 1 / 0.5;
    width: 80%;
    margin-bottom: 5px;

    background-image: url('../../../public/assets/icons/logo-rsschool.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
  }

  &_filters_Logitech {
    display: inline-block;

    aspect-ratio: 1 / 0.5;
    width: 80%;
    margin-bottom: 5px;

    background-image: url('../../../public/assets/icons/logitech_logo_02.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_filters_xs {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_s {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_m {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_l {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_xl {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_xxl {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_xxxl {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_filters_universal {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 6vw;
    padding: 1.8vw;

    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;

    background-image: url('../../../public/ui-kit/circle_size_blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: 'No Signal';

    &:hover {
      background-image: url('../../../public/ui-kit/circle_size_hover.svg');
    }
  }

  &_reset_button {
    width: 20vw;
    aspect-ratio: 1 / 0.35;
    margin-bottom: 20px;
    font-size: 3rem;
    user-select: none;
    background-color: transparent;
    border: none;
    color: transparent;
    background-image: url('../../../public/ui-kit/reset_filters_01.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      background-image: url('../../../public/ui-kit/reset_filters_02.svg');
    }
  }

  &_cybersloth {
    width: 50vw;
    aspect-ratio: 1 / 1;
    background-image: url('../../../public/assets/cybersloths/cybersloth_01.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &_to_cart {
    width: 12vw;
    background-color: transparent;
    color: $font-color-primary-one;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    position: absolute;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    margin-top: 30px;
    border: none;
    transition: all 0.2s ease-in-out;
    z-index: 1600;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px dotted $glow-violet;

    &:hover {
      cursor: pointer;
      text-shadow:
        0 0 5px $glow-violet,
        0 0 10px $glow-violet;
    }
  }

  &_real_search_input {
    position: absolute;
    width: 25vw;
    aspect-ratio: 1 / 0.14;
    background-color: transparent;
    font-family: Assassin;
    font-size: 3rem;
    color: $glow-green;
    border: none;
    outline: none;
    padding-left: 1vw;

    &::placeholder {
      font-family: Assassin;
      font-size: 3rem;
      color: $glow-green;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      color: $glow-green;
      outline: none;
    }
  }
}

@keyframes number_circle_anim {
  0% {
    width: 4vw;
    transform: rotate(0deg);
  }
  25% {
    width: 6vw;
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(-220deg);
  }
  75% {
    transform: rotate(30deg);
    width: 5vw;
  }
  100% {
    width: 4vw;
    transform: rotate(0deg);
  }
}

.colour_circle_wrapper {
  width: 4.8vw;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colour_outer_circle_red {
  position: absolute;
  width: 4.8vw;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/ui-kit/colour_filter_02.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-in-out;

  &.rotate {
    transform: rotate(-90deg);
  }
}

.colour_outer_circle_white {
  position: absolute;
  width: 4.8vw;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/ui-kit/colour_filter_02.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-in-out;

  &.rotate {
    transform: rotate(-90deg);
  }
}

.colour_outer_circle_black {
  position: absolute;
  width: 4.8vw;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/ui-kit/colour_filter_02.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-in-out;

  &.rotate {
    transform: rotate(-90deg);
  }
}

.category_subtree_divider {
  width: 100%;
  aspect-ratio: 1 / 0.4;
  background-image: url('../../../public/ui-kit/divider_subtree_02.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.category_pricename_divider {
  width: 100%;
  aspect-ratio: 1 / 0.4;
  background-image: url('../../../public/ui-kit/divider_subtree_03.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.category_colour_divider {
  width: 100%;
  aspect-ratio: 1 / 0.4;
  background-image: url('../../../public/ui-kit/divider_subtree_05.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
}

.category_sizes_divider {
  width: 100%;
  aspect-ratio: 1 / 0.4;
  background-image: url('../../../public/ui-kit/divider_subtree_07.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.category_categories
  input[type='checkbox']:checked
  + .category_filters_category {
  background-image: url('../../../public/ui-kit/subtree_purple.svg');
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_bestseller
  input[type='checkbox']:checked
  + .category_bestseller_label {
  background-image: url('../../../public/ui-kit/bestseller_input_purple.svg');
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes input[type='checkbox']:checked + .category_filters_xs {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes input[type='checkbox']:checked + .category_filters_s {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes input[type='checkbox']:checked + .category_filters_m {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes input[type='checkbox']:checked + .category_filters_l {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes input[type='checkbox']:checked + .category_filters_xl {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes input[type='checkbox']:checked + .category_filters_xxl {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes
  input[type='checkbox']:checked
  + .category_filters_xxxl {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sizes
  input[type='checkbox']:checked
  + .category_filters_universal {
  background-image: url('../../../public/ui-kit/circle_size_selected.svg');
  transform: rotate(45deg);
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
}

.category_filters_sale
  input[type='checkbox']:checked
  + .category_filters_sale_red {
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
  color: $filter-red;
}

.category_filters_sale
  input[type='checkbox']:checked
  + .category_filters_sale_winter {
  text-shadow:
    0 0 5px,
    0 0 10px $glow-green;
  color: $glow-green;
}

.category_nosort {
  width: 80%;
  aspect-ratio: 1 / 0.3;
  font-size: 2rem;
}

.category_cards_background_top {
  width: 100%;
  aspect-ratio: 1 / 0.15;
  background-image: url('../../../public/ui-kit/cards_frame.svg');
  transform: translateY(30px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.category_cards_background_bottom {
  width: 100%;
  aspect-ratio: 1 / 0.15;
  background-image: url('../../../public/ui-kit/cards_frame.svg');
  transform: scaleY(-1) translateY(30px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.catalog {
  &_advertisment {
    resize: both;

    display: flex;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.36;
    width: 90%;
    min-height: 80px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 4vw 0;

    background-image: url('../../../public/ui-kit/main_advertisment.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

    -webkit-text-stroke: 1px;

    &.customize {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &_advertisment_text {
    width: 50%;
    font-size: 3.2rem;
    text-align: center;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_sloth_left {
    resize: both;

    transform: scaleX(-1);

    aspect-ratio: 1 / 1;
    width: 20%;

    background-image: url('../../../public/assets/sloth-pics/congrats.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_sloth_right {
    resize: both;

    aspect-ratio: 1 / 1;
    width: 20%;

    background-image: url('../../../public/assets/sloth-pics/good.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

label:hover {
  cursor: pointer;
}

.colour {
  &_input {
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  &_input:checked ~ .category_filters_red {
    box-shadow:
      0 0 5px $glow-green,
      0 0 20px $glow-green;
  }

  &_input:checked ~ .colour_outer_circle_red {
    transform: rotate(-90deg);
  }

  &_input:checked ~ .category_filters_black {
    box-shadow:
      0 0 5px $glow-green,
      0 0 20px $glow-green;
  }

  &_input:checked ~ .colour_outer_circle_black {
    transform: rotate(-90deg);
  }

  &_input:checked ~ .category_filters_white {
    box-shadow:
      0 0 5px $glow-green,
      0 0 20px $glow-green;
  }

  &_input:checked ~ .colour_outer_circle_white {
    transform: rotate(-90deg);
  }
}

.modal {
  &_wrapper {
    position: absolute;
    display: none;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    transition: all 0.4s ease-in-out;

    &.show {
      display: block;
    }
  }

  &_body {
    width: 100%;
    aspect-ratio: 1 / 0.5;
    background-image: url('../../../public/ui-kit/already_in_cart_02.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.overlay {
  display: none;
  position: fixed;
  background: $overlay-gradient;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 1800;
  transition: all 0.4s ease-in-out;

  &.show {
    display: block;
  }
}

.pricesort_wrapper {
  position: relative;

  display: block;

  aspect-ratio: 1 / 0.4;
  width: 15vw;
  margin-bottom: 10px;
}

.pricesort_switch {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;

  aspect-ratio: 1 / 0.45;
  width: 15vw;
  margin: 0 auto;
  padding-top: 8%;
  padding-right: 1.8vw;
  padding-left: 1.8vw;

  background-image: url('../../../public/ui-kit/price_range_blue_dollar.svg');
  background-repeat: no-repeat;
  background-size: contain;

  transition: left 0.25s ease-in-out;
}

.pricesort_label {
  cursor: pointer;

  position: relative;
  z-index: 200;

  display: block;

  aspect-ratio: 1 / 0.24;
  width: 100%;
  margin: 0 auto;
}

.pricesort_button {
  position: absolute;

  aspect-ratio: 1 / 0.5;
  width: 30%;

  background: rgb(72 232 170 / 50%);
  border: 1px solid $glow-green;
  border-radius: 15%;
  box-shadow: 0 0 5px $glow-green;

  transition: all 0.25s ease-in-out;
}

.pricesort_button_move {
  transform: translateX(7vw);
}

input#price-sort {
  display: none;
}

.namesort_ascdesc_label {
  cursor: pointer;

  position: relative;
  z-index: 200;

  display: block;

  aspect-ratio: 1 / 0.24;
  width: 100%;
  margin: 0 auto;

  font-size: 4rem;
  text-align: center;
}

.namesort_button_move {
  transform: translateX(7vw);
}

.namesort_switch {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;

  aspect-ratio: 1 / 0.45;
  width: 15vw;
  margin: 0 auto;
  padding-top: 8%;
  padding-right: 1.8vw;
  padding-left: 1.8vw;

  background-image: url('../../../public/ui-kit/sort_name.svg');
  background-repeat: no-repeat;
  background-size: contain;

  transition: left 0.25s ease-in-out;
}

.breadcrumbs_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  width: 50vw;

  font-family: Cyberpunk, cursive;
  font-size: 5rem;
  color: $font-color-title;
  text-shadow: 3px 3px $background-color-primary-three;
}

.breadcrumbs_symbol {
  display: inline-block;

  aspect-ratio: 1 / 0.5;
  width: 3vw;
  margin-right: 1vw;
  margin-left: 1vw;

  background-image: url('../../../public/ui-kit/breadcrumbs_arrow_purple_green.svg');
  background-repeat: no-repeat;
}

.breadcrumbs_link {
  font-size: 2rem;
}

.category_filters_search {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_search_input {
  resize: both;

  aspect-ratio: 1 / 0.36;
  width: 100%;
  min-width: 200px;
  max-width: 420px;
  padding-left: 3vw;

  font-family: Assassin;
  font-size: 3rem;
  color: $glow-green;

  background-color: transparent;
  background-image: url('../../../public/ui-kit/search_purple_blue.svg');
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.category_search_input::placeholder {
  font-family: Assassin;
  font-size: 3rem;
  color: $glow-green;
}

.category_search_input:focus::placeholder {
  color: transparent;
}

.category_search_input:focus {
  color: $glow-green;
  outline: none;
}

.anim_input::placeholder {
  font-family: Assassin;
  font-size: 2.8rem;
  color: $glow-green;
  background: transparent;
  border: none;
  outline: none;
}

.horizontal_slider {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_thumb {
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1px;
  border: 2px solid $font-color-primary-one;
  border-radius: 50%;
  background-color: $glow-green;

  &:hover {
    cursor: pointer;
  }
}

.slider_track {
  height: 5px;
  background-color: $font-color-primary-one;
  border-radius: 5px;
}

.slider_track.slider_track-0 {
  background: green;
}

.slider_track.slider_track-1 {
  background: $glow-violet;
}

.slider_track.slider_track-2 {
  background: rgb(200, 200, 200);
}

.priceslider_values {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: (768px)) and (max-width: (1399.98px)) {
  .category_to_cart {
    font-size: 1.6rem;
    margin-top: 30px;
    width: 20vw;
  }
}

@media screen and (min-width: (320px)) and (max-width: (767.98px)) {
  .category_filters {
    width: 100%;
  }

  .category_filters_sizes {
    justify-content: space-between;
    column-gap: 2vw;
  }

  .category_filters_cards_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .category_pagination {
    width: 100%;
  }

  .category_filters_search {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category_cards_wrapper {
    width: 100%;
  }

  .category_pagination_buttons {
    width: 50%;
  }

  .category_pagination_number {
    font-size: 4rem;
  }

  .pricesort_switch {
    width: 50vw;
    padding-top: 25%;
    padding-left: 6vw;
  }

  .namesort_switch {
    width: 50vw;
    padding-top: 25%;
    padding-left: 6vw;
  }

  .pricesort_button_move {
    transform: translateX(23vw);
  }

  .category_filters_color {
    width: 60vw;
  }

  .category_colour_wrapper {
    width: 20%;
  }

  .category_filters_black {
    width: 30vw;
  }

  .category_filters_red {
    width: 30vw;
  }

  .category_filters_white {
    width: 30vw;
  }

  .category_filters_xs {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2.2rem;
  }

  .category_filters_s {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2.2rem;
  }

  .category_filters_m {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2.2rem;
  }

  .category_filters_l {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2.2rem;
  }

  .category_filters_xl {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2.2rem;
  }

  .category_filters_xxl {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2.2rem;
  }

  .category_filters_xxxl {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 2rem;
  }

  .category_filters_universal {
    aspect-ratio: 1 / 1;
    width: 20vw;
    font-size: 1.5rem;
  }

  .category_search_input {
    width: 80vw;
    min-width: 150px;
    padding-left: 30px;
    max-width: 320px;
    align-self: center;
  }

  .category_search_input_price {
    width: 40vw;
  }

  .breadcrumbs {
    font-size: 4rem;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .category_pagination_customize {
    width: 100%;
  }

  .breadcrumbs_search {
    flex-direction: column;
    height: 160px;
    align-content: center;
  }

  .category_bestseller_label {
    font-size: 3rem;
    padding-left: 5vw;
    padding-top: 15px;
  }

  .category_cybersloth {
    width: 80vw;
  }

  .category_number_circle {
    position: absolute;
    width: 18vw;
    aspect-ratio: 1 / 1;
    background-image: url('../../../public/ui-kit/circle_number_blue_1.svg');
    background-repeat: no-repeat;
    transform: translate(13.5vw, 0);
  }

  .category_inner_circle_wrapper {
    position: absolute;
    width: 18vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(13.5vw, 0);
  }

  .category_number_inner_circle {
    position: absolute;
    width: 13vw;
    aspect-ratio: 1 / 1;
    background-image: url('../../../public/ui-kit/circle_number_blue_inner.svg');
    background-repeat: no-repeat;

    &.anim {
      animation-name: number_circle_anim;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }

    .category_to_cart {
      font-size: 1.6rem;
      margin-top: 30px;
      width: 20vw;
    }
  }

  @keyframes number_circle_anim {
    0% {
      width: 13vw;
      transform: rotate(0deg);
    }
    25% {
      width: 16vw;
      transform: rotate(190deg);
    }
    50% {
      transform: rotate(-220deg);
    }
    75% {
      transform: rotate(30deg);
      width: 14vw;
    }
    100% {
      width: 13vw;
      transform: rotate(0deg);
    }
  }

  .category_reset_button {
    width: 80vw;
    margin: 0 auto;
  }

  .category_filters_xs {
    font-size: 4.5rem;
  }

  .category_filters_s {
    font-size: 4.5rem;
  }

  .category_filters_m {
    font-size: 4.5rem;
  }

  .category_filters_l {
    font-size: 4.5rem;
  }

  .category_filters_xl {
    font-size: 4.5rem;
  }

  .category_filters_xxl {
    font-size: 4.5rem;
  }

  .category_filters_xxxl {
    font-size: 4.5rem;
  }

  .category_filters_universal {
    font-size: 3rem;
    padding: 5vw;
  }
}

.spinner_container {
  width: 100vw;
  height: 100%;
  position: relative;
  z-index: 6000;
}

.spinner_overlay {
  width: 100vw;
  height: 100%;
  background: $overlay-gradient;
  position: fixed;
  top: 0;
  left: 0;
}

.spinner_wrapper {
  width: 50vw;
  aspect-ratio: 1 / 1;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 7000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.spinner {
  font-size: 6rem;
  color: $font-color-primary-one;
  text-align: center;
  font-family: 'No Signal', cursive;
  text-shadow:
    0 0 5px $glow-green,
    0 0 10px $glow-green,
    0 0 15px $glow-green;
  user-select: none;
}

.spinner_icon {
  margin-top: 50px;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ff16ff 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ff16dc);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spinner_anim 1s infinite linear;
  user-select: none;
}

@keyframes spinner_anim {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (min-width: (768px)) and (max-width: (1199.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.8rem;
  }

  .category_search_input {
    padding-left: 3vw;
  }
}

@media screen and (min-width: (500px)) and (max-width: (767.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.5rem;
  }

  .category_filters_sale_red {
    margin-bottom: 20px;
    font-size: 3.6rem;
  }

  .category_filters_sale_winter {
    margin-bottom: 20px;
    font-size: 3.6rem;
  }

  .category_filters_sizes {
    font-size: 2.4rem;
  }

  .category_filters_category {
    font-size: 3rem;
    padding-left: 5vw;
    padding-top: 20px;
  }

  .category_to_cart {
    font-size: 1.6rem;
    margin-top: 20px;
    width: 20vw;
  }
}

@media screen and (min-width: (320px)) and (max-width: (499.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.2rem;
  }

  .category_filters_sale_red {
    margin-bottom: 20px;
    font-size: 3.8rem;
  }

  .category_filters_sale_winter {
    margin-bottom: 20px;
    font-size: 3.8rem;
  }

  .category_filters_category {
    font-size: 2.8rem;
    padding-left: 5vw;
    padding-top: 15px;
  }

  .category_to_cart {
    font-size: 1rem;
    margin-top: 20px;
    width: 20vw;
  }
}
