@import '../../style/variables';

body {
    background-color: black;
    ;
}

.login {
    width: 25%;
    margin: 0 auto;
    padding: 5rem;

    .title {
        color: white;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}