@import '../../style/variables';

.cart {
  &_content {
    flex-direction: column;
  }
  &_wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
  }

  &_title {
    font-size: 4rem;
    text-align: center;
    font-family: 'No Signal', cursive;
    color: $font-color-primary-one;
    text-shadow:
      0 0 5px $glow-violet,
      0 0 15px $glow-violet;
    user-select: none;
  }

  &_price_wrapper {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &_discount_price_wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &_totalprice {
    display: flex;
  }

  &_price_name {
    font-size: 3rem;
    margin-right: 3vw;
    user-select: none;
    font-weight: 800;
    align-self: center;
  }

  &_price_amount {
    font-size: 3.6rem;
    font-family: 'No Signal', cursive;
    color: $font-color-primary-one;
    user-select: none;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
  }

  &_discount_codes {
    display: flex;
    flex-direction: column;
  }

  &_discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
  }

  &_discount_wrapper {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-between;
  }

  &_discount_amount {
    font-size: 3rem;
  }

  &_discount_name {
    font-size: 3rem;
    color: $glow-green;
    transition: all 0.2s ease-in-out;
    border: none;
    text-shadow: 0 0 10px $glow-green;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      color: $glow-violet;
      text-shadow:
        0 0 5px $glow-violet,
        0 0 10px $glow-violet;
    }
  }

  &_applied_discount {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &_discount_price {
    font-size: 4.5rem;
    color: $font-color-primary-one;
    text-shadow:
      0 0 5px $glow-violet,
      0 0 10px $glow-violet;
    font-weight: 700;
    font-family: 'No Signal', cursive;
  }

  &_buy_sloth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &_buy {
    width: 30vw;
    aspect-ratio: 1 / 0.3;
    background-image: url('../../../public/ui-kit/cart_buy_green_blue.svg');
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    font-size: 5rem;
    color: $font-color-primary-one;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    min-width: 300px;
    max-width: 500px;

    &:hover {
      cursor: pointer;
      text-shadow:
        0 0 5px $glow-violet,
        0 0 10px $glow-violet;
      background-image: url('../../../public/ui-kit/cart_buy_purple.svg');
    }

    &:active {
      cursor: pointer;
      text-shadow:
        0 0 5px $glow-violet,
        0 0 10px $glow-violet;
      background-image: url('../../../public/ui-kit/cart_buy_green_purple.svg');
    }
  }

  &_cybersloth {
    width: 40vw;
    aspect-ratio: 1 / 1;
    // background-image: url('../../../public/assets/cybersloths/cybersloth_02.png');
    // background-image: url('../../../public/assets/cybersloths/cybersloth_06.png');
    background-image: url('../../../public/assets/cybersloths/cybersloth_05.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_discount_input {
    background: $background-gradient-one;
    border-radius: 5px;
    border: 1px solid $glow-green;
    outline: none;
    width: 30vw;
    height: 50px;
    font-size: 2.8rem;
    color: $font-color-primary-one;
    padding-left: 5px;
    text-overflow: ellipsis;
    user-select: none;

    &:focus {
      border: 1px solid $glow-violet;
    }

    &::placeholder {
      font-size: 2.8rem;
      color: $font-color-primary-one;
      padding-left: 5px;
      user-select: none;
      text-overflow: ellipsis;
    }

    &:focus::placeholder {
      outline: none;
      color: transparent;
    }
  }

  &_clear {
    width: 15vw;
    background-color: transparent;
    border: 1px solid $glow-green;
    border-radius: 5px;
    font-size: 2rem;
    color: $font-color-primary-one;
    background: $background-gradient-one;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 1px solid $glow-violet;
    }
  }

  &_discount_black {
    font-size: 1.6rem;
    margin-top: 30px;
  }

  &_discount_names {
    font-size: 1.6rem;
    margin-top: 30px;
  }

  &_discount_button_wrapper {
    width: 40vw;
  }

  &_discount_button {
    width: 40vw;
    aspect-ratio: 1 / 0.25;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-image: url('../../../public/ui-kit/apply_promo_blue.svg');
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-image: url('../../../public/ui-kit/apply_promo_green_blue.svg');
    }
  }

  &_discount_delete {
    width: 15vw;
    background-color: transparent;
    border: 1px solid $glow-green;
    color: $font-color-primary-one;
    border-radius: 5px;
    font-size: 2rem;
    background: $background-gradient-one;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 1px solid $glow-violet;
    }
  }

  &_discount_button_section {
    position: absolute;
    display: inline-block;
    width: 2.5vw;
    aspect-ratio: 1 / 2;
    background-repeat: no-repeat;
    background-size: contain;

    &.one {
      background-image: url('../../../public/ui-kit/apply_promo_section_blue_01.svg');
      transform: translate(-12.8vw, 100%);
      opacity: 0;
    }

    &.one.anim {
      animation-name: apply_promo_anim;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }

    &.two {
      background-image: url('../../../public/ui-kit/apply_promo_section_blue_02.svg');
      transform: translate(-10.6vw, 100%);
      opacity: 0;
    }

    &.two.anim {
      animation-name: apply_promo_anim;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    &.three {
      background-image: url('../../../public/ui-kit/apply_promo_section_blue_03.svg');
      transform: translate(-8.4vw, 100%);
      opacity: 0;
    }

    &.three.anim {
      animation-name: apply_promo_anim;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }

    &.four {
      background-image: url('../../../public/ui-kit/apply_promo_section_blue_04.svg');
      transform: translate(-6.2vw, 100%);
      opacity: 0;
    }

    &.four.anim {
      animation-name: apply_promo_anim;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
    }

    &.five {
      background-image: url('../../../public/ui-kit/apply_promo_section_blue_05.svg');
      transform: translate(-4vw, 100%);
      opacity: 0;
    }

    &.five.anim {
      animation-name: apply_promo_anim;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
    }
  }

  &_empty {
    width: 80vw;
    aspect-ratio: 1 / 0.2;
    border: 1px solid $font-color-primary-one;
    box-shadow:
      0 0 5px $glow-violet,
      0 0 10px $glow-violet;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 auto;
  }

  &_empty_message {
    font-size: 2.5rem;
    color: $font-color-primary-one;
    text-align: center;
  }

  &_catalog_link {
    margin-top: 30px;
    color: $font-color-primary-one;
    text-decoration: underline;
    font-size: 5rem;
    text-underline-offset: 5px;
    font-family: 'No Signal', cursive;
    text-shadow:
      0 0 5px $glow-violet,
      0 0 10px $glow-violet;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      text-shadow:
        0 0 5px $glow-green,
        0 0 10px $glow-green;
    }
  }
}

.shown {
  display: flex;
}

.hidden {
  display: none;
}

@keyframes apply_promo_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes buy_text_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cart {
    &_buy_sloth {
      flex-direction: column;
    }

    &_cybersloth {
      width: 80vw;
      margin-top: 30px;
    }

    &_discount {
      flex-direction: column;
      justify-content: center;
      align-items: unset;
    }

    &_discount_input {
      width: 80vw;
      margin-bottom: 30px;
      align-self: center;
    }

    &_discount_button_wrapper {
      width: 80vw;
      align-self: center;
    }

    &_discount_button {
      width: 80vw;
      align-self: center;
    }

    &_discount_button_section {
      position: absolute;
      display: inline-block;
      width: 5vw;
      aspect-ratio: 1 / 2;
      background-repeat: no-repeat;
      background-size: contain;

      &.one {
        transform: translate(-25.8vw, 100%);
      }

      &.two {
        transform: translate(-21.6vw, 100%);
      }

      &.three {
        transform: translate(-17.4vw, 100%);
      }

      &.four {
        transform: translate(-13.2vw, 100%);
      }

      &.five {
        transform: translate(-9vw, 100%);
      }
    }

    &_discount_delete {
      width: 25vw;
      align-self: flex-end;
    }

    &_clear {
      width: 25vw;
    }
  }
}

.linethrough {
  font-size: 3.6rem;
  font-family: 'No Signal', cursive;
  color: $font-color-primary-one;
  user-select: none;
  text-shadow:
    0 0 5px $glow-green,
    0 0 10px $glow-green;
  text-decoration: line-through;
  text-decoration-color: $glow-violet;
  text-decoration-thickness: 6px;
}
