@import '../../style/variables';

.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;

  .title{
    font-size: 50px;
  }

  &_button {
    cursor: pointer;

    aspect-ratio: 1 / 0.1;
    width: 10%;
    max-height: 60px;
    padding: 10px 20px;

    font-size: 2rem;
    color: white;

    background-color: $button-default;
    border: none;

    transition: background-color ease-in-out 0.2s;
  }

  &_button:focus {
    background-color: $button-focus;
  }

  &_button:hover {
    background-color: $button-hover;
  }

  &_button:active {
    background-color: $button-active;
  }
}