@use '../../style/mixins.scss' as *;

@import '../../style/variables';

@import 'https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap';

.catalog {
  @include page-layout-container;
  background-image: linear-gradient(to right, rgba(3, 14, 27, 0.9) 0 100%),
    url('../../../public/assets/backgrounds/cyberpunk_02.png');
  background-repeat: no-repeat;
  background-size: cover;

  &_title {
    flex: 0 1 auto;
    align-items: center;

    height: 50px;
    margin-bottom: 20px;

    font-family: Cyberpank, cursive;
    font-size: 3rem;
    color: $font-color-title;
    text-shadow: 3px 3px $background-color-primary-three;
  }

  &_categories {
    display: flex;
    flex-flow: row wrap;
    row-gap: 2vh;
    align-content: center;
    justify-content: space-between;

    width: 100%;
  }

  &_category {
    display: flex;
    justify-content: center;

    aspect-ratio: 1 / 1.2;
    width: 23%;
    min-width: 300px;
    max-width: 500px;
    padding: 0 1vw;

    text-shadow: 0 0 5px $glow-green;

    background-image: url('../../../public/ui-kit/category_green_blue.svg');
    background-repeat: no-repeat;
    background-position: center center;

    transition: all 0.2s ease-in-out;
    animation-name: category-border-shine-anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &:hover {
      text-shadow:
        0 0 5px $glow-green,
        0 0 10px $glow-green;
    }
  }

  &_category_title {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 33%;

    font-family: Kingslay, cursive;
    font-size: 2rem;
    color: $font-color-primary-one;
    text-align: center;
  }

  &_customize {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  &_advertisment {
    display: flex;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.36;
    width: 100%;
    min-height: 80px;

    -webkit-text-stroke: 1px;
    border: 1px dotted $glow-violet;
    box-shadow: 0 0 15px $glow-violet;
    border-radius: 20px;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        $red-scanline 4px,
        $red-scanline 8px,
        $red-scanline 10px,
        transparent 0.5%
      ),
      repeating-linear-gradient(to left, $black-scanline, $black-scanline 50%);

    &.customize {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &_glitch_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &_advertisment_glitch {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow:
      0.05em 0 0 #00fffc,
      -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch_anim 725ms infinite;
    margin-bottom: 30px;
  }

  &_advertisment_title {
    font-size: 6.2rem;
    font-family: 'No Signal', cursive;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &_advertisment_title:first-child {
    animation: glitch_anim 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }

  &_advertisment_title:last-child {
    animation: glitch_anim 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.1em, 0.03em);
    opacity: 0.65;
  }

  @keyframes glitch_anim {
    0% {
      text-shadow:
        0.05em 0 0 #00fffc,
        -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
      text-shadow:
        0.05em 0 0 #00fffc,
        -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
      text-shadow:
        -0.05em -0.025em 0 #00fffc,
        0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
      text-shadow:
        -0.05em -0.025em 0 #00fffc,
        0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
      text-shadow:
        0.05em 0.035em 0 #00fffc,
        0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    99% {
      text-shadow:
        0.05em 0.035em 0 #00fffc,
        0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    100% {
      text-shadow:
        -0.05em 0 0 #00fffc,
        -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
  }

  &_advertisment_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_advertisment_text {
    font-family: Assassin;
    font-size: 3.6rem;
    text-align: center;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_sloth_right {
    resize: both;

    aspect-ratio: 1 / 1;
    width: 35%;

    background-image: url('../../../public/assets/cybersloths/cybersloth_06.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    margin-bottom: 50px;
  }

  &_slide {
    resize: both;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 24%;
    min-width: 60px;
    max-width: 400px;

    font-size: 2rem;
    color: $font-color-primary-one;
    text-align: center;

    background-image: url('../../../public/ui-kit/square_02_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    -webkit-text-stroke: 1px;
  }

  &_slide_pic {
    aspect-ratio: 1 / 1.1;
    width: 70%;
    margin-top: 10%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    filter: drop-shadow(0 0 5px $glow-green);
  }

  &_arrow {
    position: absolute;

    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 4vw;
    max-width: 50px;

    background-repeat: no-repeat;
    background-size: contain;

    transition: all 0.2s ease-in-out;

    &.left {
      transform: translate(-50px, 0);
      background-image: url('../../../public/assets/icons/arrow_left.svg');

      &:hover {
        cursor: pointer;
        background-image: url('../../../public/assets/icons/arrow_left_hover.svg');
      }
    }

    &.right {
      transform: translate(90vw, 0);
      background-image: url('../../../public/assets/icons/arrow_right.svg');

      &:hover {
        cursor: pointer;
        background-image: url('../../../public/assets/icons/arrow_right_hover.svg');
      }
    }
  }
}

@media screen and (min-width: (768px)) and (max-width: (1399.98px)) {
  .catalog {
    font-size: 8px;

    &_category {
      aspect-ratio: 1 / 1.2;
      width: 48%;
      min-width: 330px;
      max-width: 500px;
    }

    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_advertisment_text {
      font-size: 2.4rem;
    }
  }
}

@media screen and (min-width: (320px)) and (max-width: (767.98px)) {
  .catalog {
    font-size: 6px;

    &_title {
      text-align: center;
    }

    &_categories {
      row-gap: 20px;
    }

    &_category {
      aspect-ratio: 1 / 1.1;
      min-width: 300px;
      max-width: 600px;
    }

    &_advertisment {
      aspect-ratio: 1 / 0.4;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 20%;
      max-width: 250px;
    }
  }
}

@media screen and (min-width: (500px)) and (max-width: (767.98px)) {
  .catalog_advertisment_text {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: (320px)) and (max-width: (499.98px)) {
  .catalog_advertisment_text {
    font-size: 1.3rem;
  }

  .main_advertisment_glitch {
    font-size: 4rem;
  }
}
