@import '../../style/variables';

@import 'https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap';

.catalog {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;

  background-color: $background-color-primary-one;
  background-image: url('../../../public/assets/backgrounds/cyberpunk_02.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90vw;
    height: 100%;
    margin: 0 auto;
  }

  &_title {
    flex: 0 1 auto;

    margin-bottom: 20px;

    font-family: Cyberpank, cursive;
    font-size: 2rem;
    color: $font-color-title;
  }

  &_categories {
    display: flex;
    flex-flow: row wrap;
    row-gap: 2vh;
    justify-content: space-between;

    width: 100%;
  }

  &_category {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1.1;
    width: 23%;
    max-width: 400px;
    padding: 0 1vw;

    font-size: 2rem;
    color: $font-color-title;
    text-align: center;

    background-image: url('../../../public/ui-kit/category_green_blue.svg');
    background-repeat: no-repeat;
    background-position: center center;

    animation-name: category-border-shine-anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &_advertisment {
    resize: both;

    display: flex;
    align-items: center;
    justify-content: space-around;

    aspect-ratio: 1 / 0.36;
    width: 100%;
    min-height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 4vw 0;

    background-image: url('../../../public/ui-kit/main_advertisment.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

    -webkit-text-stroke: 1px;

    &.customize {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &_advertisment_text {
    width: 50%;
    font-size: 3.6rem;
    text-align: center;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green,
      0 0 20px $glow-green;
  }

  &_sloth_left {
    resize: both;

    transform: scaleX(-1);

    aspect-ratio: 1 / 1;
    width: 20%;

    background-image: url('../../../public/assets/sloth-pics/congrats.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_sloth_right {
    resize: both;

    aspect-ratio: 1 / 1;
    width: 20%;

    background-image: url('../../../public/assets/sloth-pics/good.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    margin-bottom: 20px;
  }

  &_slide {
    resize: both;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 24%;
    min-width: 60px;
    max-width: 400px;

    font-size: 2rem;
    color: $font-color-primary-one;
    text-align: center;

    background-image: url('../../../public/ui-kit/square_02_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    -webkit-text-stroke: 1px;
  }

  &_slide_pic {
    aspect-ratio: 1 / 1.1;
    width: 70%;
    margin-top: 10%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    filter: drop-shadow(0 0 5px $glow-green);
  }

  &_arrow {
    position: absolute;

    display: inline-block;

    aspect-ratio: 1 / 1;
    width: 4vw;
    max-width: 50px;

    background-repeat: no-repeat;
    background-size: contain;

    transition: all 0.2s ease-in-out;

    &.left {
      transform: translate(-50px, 0);
      background-image: url('../../../public/assets/icons/arrow_left.svg');

      &:hover {
        cursor: pointer;
        background-image: url('../../../public/assets/icons/arrow_left_hover.svg');
      }
    }

    &.right {
      transform: translate(90vw, 0);
      background-image: url('../../../public/assets/icons/arrow_right.svg');

      &:hover {
        cursor: pointer;
        background-image: url('../../../public/assets/icons/arrow_right_hover.svg');
      }
    }
  }
}

@media screen and (min-width: (768px)) and (max-width: (1399.98px)) {
  html {
    font-size: 8px;
  }

  .main {
    &_category {
      aspect-ratio: 1 / 0.6;
      width: 48%;
      max-width: unset;
    }

    &_advertisment {
      aspect-ratio: 1 / 0.2;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 20%;
      max-width: 250px;
    }
  }
}

@media screen and (min-width: (320px)) and (max-width: (767.98px)) {
  html {
    font-size: 6px;
  }

  .main {
    &_title {
      text-align: center;
    }

    &_categories {
      row-gap: 20px;
    }

    &_category {
      aspect-ratio: 1 / 0.4;
      width: 100%;
      max-width: unset;
    }

    &_advertisment {
      aspect-ratio: 1 / 0.4;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 20%;
      max-width: 250px;
    }
  }
}



@media screen and (min-width: (768px)) and (max-width: (1399.98px)) {
  html {
    font-size: 8px;
  }

  .main {
    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_offer_text {
      padding-bottom: 20px;
      font-size: 2.2rem;
    }

    &_advertisment_text {
      width: 50%;
      font-size: 2.8rem;
    }
  }
}

@media screen and (min-width: (320px)) and (max-width: (767.98px)) {
  html {
    font-size: 6px;
  }

  .main {
    &_title {
      font-size: 3.5rem;
      text-align: center;
    }

    &_advertisment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &_slide {
      aspect-ratio: 1 / 1;
      width: 24%;
      max-width: 250px;
    }

    &_top {
      flex-direction: column;
    }

    &_profile_buttons {
      width: 80%;
    }
  }
}

@media screen and (min-width: (500px)) and (max-width: (767.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 2.2rem;
  }
}

@media screen and (min-width: (320px)) and (max-width: (499.98px)) {
  .catalog_advertisment_text {
    width: 50%;
    font-size: 1.6rem;
  }
}
