@import '../../style/variables';

.card {
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    aspect-ratio: 1 / 1.3;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;

    background-image: url('../../../public/ui-kit/card_frame_01.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1200;

    &:hover {
      cursor: pointer;
      background-image: url('../../../public/ui-kit/card_frame_02.svg');
    }
  }

  &_pic {
    aspect-ratio: 1 / 1;
    width: 55%;

    background-repeat: no-repeat;
    background-position: center center;
  }

  &_name {
    padding-top: 30px;
    padding-right: 5%;
    padding-left: 5%;

    font-size: 1.6rem;
    color: $font-color-primary-one;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
    text-align: center;
  }

  &_buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;

    width: 80%;
    border-top: 2px dotted $glow-violet;
  }

  &_price {
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow:
      0 0 5px $glow-green,
      0 0 10px $glow-green;
  }

  &_discount {
    font-size: 2rem;
    font-weight: 700;
    color: $font-color-primary-one;
    text-shadow:
      0 0 5px $glow-violet,
      0 0 10px $glow-violet;
  }

  &_description {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    position: absolute;
    transform: translateY(100px);
    width: 15vw;
  }
}

.linethrough {
  font-size: 1.5rem;
  text-decoration: line-through;
  text-shadow:
    0 0 5px $glow-green,
    0 0 10px $glow-green;
}
