@import '../../style/variables';

$footer-background-color: #041426;

@media screen and (min-width: (1200px)) {
  .header {
    background-color: $background-color-primary-one;
    width: 100%;

    &_wrapper {
      background-color: $background-color-primary-one;
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: space-between;

      width: 90vw;
      height: 100px;
      margin: 0 auto;

      .header_categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 50%;

        .header_menu {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          padding-left: unset;

          list-style: none;

          &_item {
            font-size: 2rem;
            color: white;
            text-align: center;
            transition: all 0.2s ease-in-out;

            &_link {
              &:not(:last-child) {
                margin-right: 10px;
              }

              &:not(.sum):hover {
                cursor: pointer;
                filter: drop-shadow(0 0 5px $glow-green)
                  drop-shadow(0 0 10px $glow-green);
              }
            }

            &:not(.sum):hover {
              filter: drop-shadow(0 0 5px $glow-green)
                drop-shadow(0 0 10px $glow-green);
            }

            &.sum {
              user-select: none;
            }

            .header_cart {
              display: inline-block;

              aspect-ratio: 1 / 1;
              width: 4vw;
              min-width: 20px;
              max-width: 50px;
              margin-right: 10px;

              background-image: url('../../../public/assets/icons/cart.svg');
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
              filter: invert(100%) drop-shadow(0 0 5px $glow-green)
                drop-shadow(0 0 10px $glow-green);

              transition: all 0.2s ease-in-out;

              &_counter {
                position: absolute;
                top: -3px;
                right: -3px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 25px;
                height: 25px;

                font-size: 1.5rem;
                font-weight: 500;
                color: black;

                background-color: white;
                border-radius: 50%;
              }

              &_name {
                display: none;
              }
            }
          }
        }
      }

      .logo {
        filter: drop-shadow(0 0 5px $glow-green)
          drop-shadow(0 0 10px $glow-green);

        & svg {
          aspect-ratio: 1 / 0.15;
          width: 30vw;
          min-width: 180px;
          max-width: 350px;
        }
      }

      .burger_menu {
        display: none;

        &_img {
          width: 70px;
        }
      }
    }
  }
  // .sticky {
  //   position: sticky;
  //   top: 0;
  //   left: 0;
  //   z-index: 999;
  //   background-color: $background-color-primary-one;
  //   box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  // }
}
@media screen and (min-width: (768px)) and (max-width: (1199.98px)) {
  html {
    font-size: 8px;
  }

  .header {
    background-color: $background-color-primary-one;

    &_wrapper {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: space-between;

      width: 90vw;
      height: 100px;
      margin: 0 auto;

      .header_categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 60%;

        .header_menu {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          padding-left: unset;

          list-style: none;

          &_item {
            font-size: 2rem;
            color: white;
            text-align: center;
            transition: all 0.2s ease-in-out;

            &_link {
              &:not(:last-child) {
                margin-right: 10px;
              }

              &:not(.sum):hover {
                cursor: pointer;
                filter: drop-shadow(0 0 6px $glow-green)
                  drop-shadow(0 0 10px $glow-green);
              }
            }

            &:not(.sum):hover {
              filter: drop-shadow(0 0 5px $glow-green)
                drop-shadow(0 0 10px $glow-green);
            }

            &.sum {
              user-select: none;
            }

            .header_cart {
              display: inline-block;

              aspect-ratio: 1 / 1;
              width: 4vw;
              min-width: 20px;
              max-width: 50px;
              margin-right: 10px;

              background-image: url('../../../public/assets/icons/cart.svg');
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
              filter: invert(100%) drop-shadow(0 0 5px $glow-green)
                drop-shadow(0 0 10px $glow-green);

              transition: all 0.2s ease-in-out;

              &_counter {
                position: absolute;
                top: -3px;
                right: -3px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 25px;
                height: 25px;

                font-size: 1.5rem;
                font-weight: 500;
                color: black;

                background-color: white;
                border-radius: 50%;
              }

              &_name {
                display: none;
              }
            }
          }
        }
      }

      .logo {
        filter: drop-shadow(0 0 5px $glow-green)
          drop-shadow(0 0 10px $glow-green);

        & svg {
          aspect-ratio: 1 / 0.15;
          width: 30vw;
          min-width: 180px;
          max-width: 350px;
        }
      }

      .burger_menu {
        display: none;

        &_img {
          width: 70px;
        }
      }
    }
  }
}

@media screen and (min-width: (450px)) and (max-width: (767.98px)) {
  html {
    font-size: 6px;
  }

  .header {
    background-color: $background-color-primary-one;

    &_wrapper {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: space-between;

      width: 90vw;
      height: 100px;
      margin: 0 auto;

      .header_categories {
        max-width: 0;

        .header_menu {
          position: fixed;
          z-index: 2;
          top: 0;
          right: -100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;

          background: url('../../../public/assets/burger/burger_menu_gradient_01.svg'),
            $overlay;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;

          transition: 1s;

          &_item {
            display: block;

            width: 40%;
            height: 5%;
            margin: 20px;
            padding-left: 10px;

            font-family: 'No Signal', cursive;
            font-size: 350%;
            line-height: 100%;

            background: url('../../../public//assets/burger/burger_link_green_01.svg')
              0 0 / contain no-repeat;

            transition: 1s;

            .header_menu_link {
              transition: 1s;

              &:hover {
                filter: drop-shadow(0 0 5px $glow-green)
                  drop-shadow(0 0 10px $glow-green);
              }
            }

            &.sum {
              display: none;
            }

            .header_cart {
              &_counter {
                display: none;
              }

              &_name {
                display: block;
              }
            }
          }
        }

        .header_menu_active {
          right: 0.1%;
        }
      }

      .logo {
        filter: drop-shadow(0 0 5px $glow-green)
          drop-shadow(0 0 10px $glow-green);

        & svg {
          aspect-ratio: 1 / 0.15;
          width: 30vw;
          min-width: 180px;
          max-width: 350px;
        }
      }

      .burger_menu {
        cursor: pointer;

        position: absolute;
        z-index: 1;
        right: 10px;
        transform: rotate(0deg);

        background: transparent;
        border: none;

        transition: 2s;

        &_img {
          width: 47px;
        }

        &:hover {
          filter: drop-shadow(0 0 5px $glow-green)
            drop-shadow(0 0 10px $glow-green);
        }
      }

      .burger_menu_active {
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: (449.99px)) {
  html {
    font-size: 6px;
  }

  .header {
    background-color: $background-color-primary-one;

    &_wrapper {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: space-between;

      width: 90vw;
      height: 100px;
      margin: 0 auto;

      .header_categories {
        max-width: 0;

        .header_menu {
          position: fixed;
          z-index: 2;
          top: 0;
          right: -100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;

          background: url('../../../public/assets/burger/burger_menu_gradient_01.svg'),
            $overlay;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;

          transition: 1s;

          &_item {
            display: block;

            width: 40%;
            height: 5%;
            margin: 20px;
            padding-left: 10px;

            font-family: 'No Signal', cursive;
            font-size: 250%;
            line-height: 100%;

            background: url('../../../public//assets/burger/burger_link_green_01.svg')
              0 0 / contain no-repeat;

            transition: 1s;

            .header_menu_link {
              transition: 1s;

              &:hover {
                filter: drop-shadow(0 0 5px $glow-green)
                  drop-shadow(0 0 10px $glow-green);
              }
            }

            &.sum {
              display: none;
            }

            .header_cart {
              &_counter {
                display: none;
              }

              &_name {
                display: block;
              }
            }
          }
        }

        .header_menu_active {
          right: 0.1%;
        }
      }

      .logo {
        filter: drop-shadow(0 0 5px $glow-green)
          drop-shadow(0 0 10px $glow-green);

        & svg {
          aspect-ratio: 1 / 0.15;
          width: 30vw;
          min-width: 180px;
          max-width: 350px;
        }
      }

      .burger_menu {
        cursor: pointer;

        position: absolute;
        z-index: 1;
        right: 10px;
        transform: rotate(0deg);

        background: transparent;
        border: none;

        transition: 2s;

        &_img {
          width: 47px;
        }

        &:hover {
          filter: drop-shadow(0 0 5px $glow-green)
            drop-shadow(0 0 10px $glow-green);
        }
      }

      .burger_menu_active {
        transform: rotate(360deg);
      }
    }
  }
}
