@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

@font-face {
  font-family: Cyberpank;
  src:
    url('../../public/fonts/cyberpunk.ttf') format(truetype),
    url('../../public/fonts/cyberpunk.woff') format(woff),
    url('../../public/fonts/cyberpunk.woff2') format(woff2);
}

@font-face {
  font-family: Kingslay;
  src:
    url('../../public/fonts/kingslay.ttf') format(truetype),
    url('../../public/fonts/kingslay.woff') format(woff);
}

@font-face {
  font-family: "No Signal";
  src:
    url('../../public/fonts/no-signal.woff') format(truetype),
    url('../../public/fonts/no-signal.woff') format(woff);
}
