@import './variables.scss';

@mixin page-layout-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;

  background-color: $background-color-primary-one;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90vw;
    height: 100%;
    margin: 0 auto;
  }
}
