@import 'modern-normalize';
@import 'fonts';

$background-color-one: aqua;
$font-primary-one: #eaff62;
$font-primary-two: #ff47da;

html {
  font-size: 10px;
  color: $font-primary-one;
}

body {
  width: 100%;
  height: 100%;

  background-image: url('../../public/assets/Sci-Fi.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
