$scroll-color: linear-gradient(#11E5B3, #CF52FE);
$background-color-primary-one: #030e1b;
$background-color-primary-two: #053245;
$background-color-primary-three: #9541DE;
$background-color-primary-four: #CF52FE;
$background-color-primary-five: #3AB2C0;
$background-color-primary-six: #11E5B3;
$gradient-one: linear-gradient(#CF52FE, #19DBB6);
$gradient-two: linear-gradient(#9541DE, #3AB2C0);
$gradient-three: linear-gradient(#11E5B3, #5263FE);
$gradient-four: linear-gradient(#FCDAFF, #CF52FE);
$font-color-primary-one: #f0fbfc;
$font-color-primary-two: #041426;
$font-color-title: #e6ff2d;
$glow-green: #10ffd7;
$glow-violet: #e62cff;
$font-green: #11E5B3;
$border-default: #CF52FE;
$border-focus: #f705ff;
$border-hover: #9c00a2;
$border-error: #f91403;
$border-active: #710075;
$button-default: #ef85f3;
$button-focus: #f705ff;
$button-hover: #9c00a2;
$button-error: #f91403;
$button-active: #710075;
$overlay: rgb(4 20 38 / 90%);