$background-color-primary-one: #041426;
$font-color-primary-one: #fff;
$font-color-primary-two: #000;
$glow-green: #83fee2;
$glow-violet: #ea51ee;
$font-green: #37f0a9;
$border-default: #ef85f3;
$border-focus: #f705ff;
$border-hover: #9c00a2;
$border-error: #f91403;
$border-active: #710075;
$button-default: #ef85f3;
$button-focus: #f705ff;
$button-hover: #9c00a2;
$button-error: #f91403;
$button-active: #710075;