@import '../../style/variables.scss';
.about_us_all_card {
  border-radius: 10px;
  margin: 20px 20px;
  width: 350px;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 40px rgb(165, 64, 199);
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  .about_us_catchphrase {
    width: 100%;
    max-width: 350px;
    padding-top: 20px;
    height: 70px;
    padding-left: 30px;
    font-family: Assassin;
    font-size: 18px;
    background: url(../../../public/assets/about-us/catchphrase_blue_no_signal.svg);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(250, 250, 250);
    text-shadow:
      0 0 5px #e2ff84,
      0 0 10px #e2ff84,
      0 0 20px #e2ff84;
  }
  .card {
    .card_block_imeges {
      position: relative;
      .image {
        width: 100%;
        padding-bottom: 100%;
        border-radius: 5px;
        position: relative;
      }
      .black {
        background: url(../../../public/assets/about-us/black.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .red {
        background: url(../../../public/assets/about-us/red.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .white {
        background: url(../../../public/assets/about-us/white.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .image::before {
        content: '';
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        -webkit-box-shadow:
          inset 0 0 50px #000,
          inset 0 0 50px #000,
          inset 0 0 50px #000;

        -moz-box-shadow:
          inset 0 0 50px #000,
          inset 0 0 50px #000,
          inset 0 0 50px #000;

        box-shadow:
          inset 0 0 50px #000,
          inset 0 0 50px #000,
          inset 0 0 50px #000;
      }
      .card_block_name {
        position: absolute;
        top: 70%;
        color: rgb(250, 250, 250);
        font-family: 'No Signal';
        font-size: 14px;
        width: 100%;
        text-shadow:
          0 0 5px #e2ff84,
          0 0 10px #e2ff84;
        padding: 5px 10px;
        background: rgba(29, 1, 38, 0.9);
        box-shadow: 0 0 40px rgb(129, 23, 164);
        .image_title_git {
          display: flex;
          align-items: center;
          background: url(../../../public/assets/about-us/product_bottom_purple_green.svg);
          background-position: 0 -30%;
          background-repeat: no-repeat;
          background-size: 50%;
          padding-left: 65px;
          .git_link_logo {
            aspect-ratio: 1 / 1;
            width: 40px;
            max-width: 40px;

            background-image: url('../../../public/assets/icons/github.png');
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(100%) drop-shadow(0 0 5px $glow-green)
              drop-shadow(0 0 10px $glow-green);
          }
        }
        .image_title2 {
          background: url(../../../public/assets/about-us/product_top_purple_green.svg);
          background-position: 0 50%;
          background-repeat: no-repeat;
          background-size: 20%;
          padding-left: 65px;
        }
        .image_title {
          text-shadow:
            0 0 5px #84f1ff,
            0 0 10px #84d8ff;
          width: 100%;
          font-size: 20px;
          padding-bottom: 10px;
          background: url(../../../public/assets/about-us/product_top_purple_green.svg);
          background-position: 0 50%;
          background-repeat: no-repeat;
          background-size: 20%;
          padding-left: 65px;
        }
      }
    }
    .card_decs {
      .card_biography,
      .card_contribution,
      .card_cooperation {
        font-family: Assassin;
        font-size: 18px;
        margin: 5px 10px;
        text-shadow:
          0 0 5px #84f1ff,
          0 0 10px #84d8ff;
        font-weight: 900;

        .class_span {
          font-family: 'No Signal';
          font-size: 14px;
          color: rgb(250, 250, 250);
          text-shadow:
            0 0 5px #e2ff84,
            0 0 5px #e2ff84;
          font-weight: 300;
        }
      }
      .card_biography{
        height: 130px;
      }
    }
  }
}
@media screen and (min-width: (678px)) and (max-width: (1199.98px)) {
  .about_us_all_card {
    border-radius: 10px;
    margin: 0 10px;
    width: 200px;
    max-width: 300px;
    .about_us_catchphrase {
      width: 100%;
      max-width: 300px;
      padding-top: 17px;
      height: 50px;
      padding-left: 10px;
      font-family: Assassin;
      font-size: 14px;
    }
    .card {
      .card_block_imeges {
        .card_block_name {
          position: absolute;
          top: 70%;
          color: rgb(250, 250, 250);
          font-family: 'No Signal';
          font-size: 9px;
          width: 100%;
          .image_title {
            width: 100%;
            font-size: 10px;
            padding-bottom: 3px;
            padding-left: 40px;
          }
          .image_title_git {
            padding-left: 40px;
            .git_link_logo {
              width: 20px;
              max-width: 20px;
            }
          }
          .image_title2 {
            padding-left: 40px;
          }
        }
      }
      .card_decs {
        .card_biography,
        .card_contribution,
        .card_cooperation {
          font-size: 11px;
          margin: 5px 10px;
          text-shadow:
            0 0 5px #84f1ff,
            0 0 10px #84d8ff;
          font-weight: 400;

          .class_span {
            font-size: 12px;
          }
        }
        .card_biography{
          height: 100px;
        }
      }

    }
  }
}
@media screen and (min-width: (390px)) and (max-width: (450px)) {
  .about_us_all_card {
    border-radius: 10px;
    margin: 20px 10px;
    width: 200px;
    max-width: 300px;
    .about_us_catchphrase {
      width: 100%;
      max-width: 300px;
      padding-top: 17px;
      height: 50px;
      padding-left: 10px;
      font-family: Assassin;
      font-size: 14px;
    }
    .card {
      .card_block_imeges {
        .card_block_name {
          position: absolute;
          top: 70%;
          color: rgb(250, 250, 250);
          font-family: 'No Signal';
          font-size: 10px;
          width: 100%;
          .image_title {
            width: 100%;
            font-size: 10px;
            padding-bottom: 3px;
            padding-left: 40px;
          }
          .image_title_git {
            padding-left: 40px;
            .git_link_logo {
              width: 20px;
              max-width: 20px;
            }
          }
          .image_title2 {
            padding-left: 40px;
          }
        }
      }
      .card_decs {
        .card_biography,
        .card_contribution,
        .card_cooperation {
          font-size: 12px;
          margin: 5px 10px;
          text-shadow:
            0 0 5px #84f1ff,
            0 0 10px #84d8ff;
          font-weight: 400;

          .class_span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
