@import '../../style/variables';

.cartproduct {
  &_wrapper {
    width: 90vw;
    margin: 0 auto;
  }

  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: $background-gradient-one;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &_name {
    width: 20vw;
    font-size: 2.5rem;
  }

  &_link_to_product {
    width: 15vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_pic {
    width: 10vw;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    user-select: none;
    filter: drop-shadow(0 0 10px $glow-violet);
  }

  &_product_counter {
    width: 10vw;
    aspect-ratio: 1 / 0.4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &_product_amount {
    font-size: 3rem;
    user-select: none;
  }

  &_counter_button {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    width: 25%;
    aspect-ratio: 1 / 1;
    filter: invert(1);
    background-size: contain;
    transition: all 0.3s ease-in-out;

    &.minus {
      background-image: url('../../../public/assets/icons/minus.svg');
    }

    &.plus {
      background-image: url('../../../public/assets/icons/plus.svg');
    }

    &:hover {
      cursor: pointer;
      filter: invert(1) drop-shadow(0 0 5px $glow-violet)
        drop-shadow(0 0 10px $glow-violet);
    }

    &:active {
      cursor: pointer;
      filter: invert(1) drop-shadow(0 0 5px $glow-green)
        drop-shadow(0 0 10px $glow-green);
    }
  }

  &_product_price {
    font-size: 3rem;
    user-select: none;
  }

  &_product_piece {
    font-size: 2rem;
    opacity: 0.6;
  }

  &_delete {
    width: 4vw;
    aspect-ratio: 1 / 1;
    background-image: url('../../../public/assets/icons/trash_cart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    resize: both;
    filter: invert(1);
    border: none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      filter: invert(1) drop-shadow(0 0 5px $glow-violet)
        drop-shadow(0 0 10px $glow-violet);
    }

    &:active {
      cursor: pointer;
      filter: invert(1) drop-shadow(0 0 5px $glow-green)
        drop-shadow(0 0 10px $glow-green);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cartproduct_name {
    font-size: 1.8rem;
  }
}
